*, *::after, *::before{
    box-sizing: content-box;
}

.container{
    height: 100%;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.header{
    position: fix;
    top: 0;
    left: 0;
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
}

.buttonMenu .bar1, .buttonMenu .bar2, .buttonMenu .bar3{
    width:32px; 
    height:5px; 
    background-color:#000000; 
    margin:6px 0; 
    transition:0.4s;
}

.buttonProfil{
    margin-left: auto;
    margin-right: 3%;
    font-size: 50px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    border-color: orange;
    background-color: #8d88cf;
    text-align: center;
    vertical-align:middle;
    display: flex;
    width: 50px;
}

#month, #day, #year{
    height: 20px;
    font-size: 20px;
    border-radius: 5px;
}

.signBox{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 700px;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    background: orange;
}

.iconUser{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h2{
    margin: 0;
    padding: 10px 0 20px;
    color: #6e65e7;
    text-align: center;
}

form{
    color: #000000;
    font: large;
    font-family: sans-serif;
    font-weight: 100;
}

.signBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

#textBox1, #textBox2, #textBox3, #textBox4, #buttonValider{
    width: 100%;
    margin-bottom: 10px;
}

.signBox input[type="text"],
.signBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(255, 253, 255);
    font-size: 16px;
}

::placeholder{
    color: rgba(255,255,255,.5);
}

.signBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #8d88cf;
    cursor: pointer;
    border-radius: 20px;
}

.signBox input[type="submit"]:hover{
    background: #efed40;
    color: #262626;
}

.signBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.iconUser{
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

.texteGenre{
    margin-left: 25px;
    border: solid;
    border-color: #8d88cf;
    border-radius: 5px;
    padding: 5px;
}

#link :active{
    color: blue;
}