*, *::after, *::before{
    box-sizing: content-box;
}

.container{
    margin-right: 10px;
    margin-left: 10px;
    font-family: sans-serif;
}
.header{
    position: fix;
    top: 0;
    left: 0;
    display: flex;
    margin-bottom: 30px;
}

.operation{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.buttonProfil{
    margin-left: auto;
    font-size: 50px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    border-color: orange;
    background-color: #8d88cf;
    text-align: center;
    vertical-align:middle;
    display: flex;
    width: 50px;
}

.messagerie{
    width: auto;;
    height: auto;
    display: flex;
    background-color: white;
    border-radius: 18px;
    border-color: rgb(202, 201, 201);
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.appelVocal{
    width: auto;;
    height: auto;
    display: flex;
    background-color: white;
    border-radius: 18px;
    border-color: rgb(202, 201, 201);
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.appelVideo{
    width: auto;;
    height: auto;
    display: flex;
    background-color: white;
    border-radius: 18px;
    border-color: rgb(202, 201, 201);
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.logo1, .logo2, .logo3{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 10px;
    width: 80px;
    height: 75px;
    border-radius: 18px;
}

.logo1{
    background-color: #8d88cf;
}

.logo2{
    background-color: #7eb0fc;
}

.logo3{
    background-color: #eacbcb;
}

.textAppelVideo, .textMessagerie, .textAppelVocal{
    color: grey;
    margin-bottom: 5px;
}

.h2{
    color: black;
}

.titre{
    text-align: left;
    width: 50%;
}