<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtBoard</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="buttonMenu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="buttonProfil">
                <a href="public/login.html"></a>
            </div>
        </div>

        <div class="titre">
                <h1>Bonjour, voulez-vous vous faire consultez ?</h1>
        </div>

        <div class="search">
            <img src="img/imgSearch.png" alt="img" height="40" /> 
            <b><input type="text" value="" placeholder="Search"></b>
        </div>

        <br/>
        <br />

        <div class="titreCategorie">
            <div class="texte1">
                <h2>Choisissez une categorie</h2>
            </div>
            <div class="type1">
                <h3>Adults</h3>
            </div>
            <div class="type2">
                <h3>Children</h3>
            </div>
        </div>

        <div class="choixCategorie">
            <div class="categorie1">
                <div class="texteCategorie1"><b>Fievre</b> ou <br/>Malaria</div>
            </div>
            <div class="categorie2">
                <div class ="texteCategorie2"><b>Rhume</b> ou <br/>Grippe</div>
            </div>
            <div class="categorie3">
                <div class="texteCategorie3"><b>Rhume</b> ou <br/>Palu</div>
            </div>
            <div class="categorie4">
                <div class="texteCategorie4"><b>Rhume</b> ou <br />Palu</div>
            </div>
            <div class="categorie5">
                <div class="texteCategorie5"><b>Rhume</b> ou <br />Palu</div>
            </div>
        </div>

        <div class="texte2">
            <h2>Recherchez par specialités</h2>
        </div>

        <div class="specialiste">
            <div class="specialiste1">
                <div class="logo1">
                    
                </div>
                <div class="textSpecialiste">
                    <b>Docteur generaliste</b>
                </div>
            </div>
            <div class="specialiste2">
                <div class="logo2">
                
                </div>
                <div class="textSpecialiste">
                    <b>Specialiste dentaire</b>
                </div>
            </div>
        </div>
    </div>
<!-- <script src="js/script.js"></script> 
<script src="/app.js"></script>-->
</body>
</html>